{{#each this}}
  <li>
    <img
      class='country__item--flag'
      src='{{flags.png}}'
      width='35px'
      alt='Flag of{{name.common}}'
    />
    <span class='country__item--name'>{{name.common}}</span>
  </li>
{{/each}}